
/*body {
background-color: white;
background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");
 This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! 
	padding: 0;
	margin: 0;
}*/

* {
	font-family: 'Ubuntu', sans-serif;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

#logo {
	width: 100px;
	height: 100px;
	background-size: 75px, 75px;
	background-position: center;
	background-image: url("../app/shobe.gif");
	background-repeat: no-repeat;
}

.siteBanner{
	padding: 10px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 80px;
}

.appTitle{
	display: flex;
	justify-content: center;
}

.btn-container {
	height: 25px;
	width:  100%;
	display: flex;
	justify-content: center;
}

.btn-container2 {
	height: 25px;
	width:  100%;
	display: flex;
	justify-content: center;
}

.app-container{
	display: flex;
	width: 100%;
	justify-content: center;
}

.btn-randomize {
	height: 25px;
	width: 100px;
}

.btn-savePalette {
	height: 25px;
	width: 150px;
}

.color-container {
	display: flex;
	align-items: flex-end;
	height: 500px;
	width: 1000px;
}

.loadPaletteName {
	width: 355px;
}

.savedPalettes{
	display: flex;
	justify-content: center;
}
.mySavedPaletteNames {
	display: flex;
	justify-content: center;
}

/* App Panels */
.color-panel1 {
	background-color: #262626;
	height: 500px;
	width: 200px;
}
.color-panel2 {
	background-color: #262626;
	height: 500px;
	width: 200px;
}
.color-panel3 {
	background-color: #262626;
	height: 500px;
	width: 200px;
}
.color-panel4 {
	background-color: #262626;
	height: 500px;
	width: 200px;
}
.color-panel5 {
	background-color: #262626;
	height: 500px;
	width: 200px;
}

/* Color Labels */
.color-label1{
	visibility: hidden;	
	position: relative;
	top: 85%;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}
.color-label2{
	visibility: hidden;	
	position: relative;
	top: 85%;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}
.color-label3{
	visibility: hidden;	
	position: relative;
	top: 85%;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}
.color-label4{
	visibility: hidden;	
	position: relative;
	top: 85%;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}
.color-label5{
	visibility: hidden;
	position: relative;
	top: 85%;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}

/* Save Buttons */

.btn1 {
	border: none;
	color: white;
	height: 50px;
	width: 50px;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
	visibility: hidden;
}
.btn2 {
	visibility: hidden;	
}
.btn3 {
	visibility: hidden;	
}
.btn4 {
	visibility: hidden;	
}
.btn5 {
	visibility: hidden;	
}