body {
background-color: #f5f5f5;
background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	padding: 0;
	margin: 0;
}

.siteBanner{
	width: 100%;
	margin-left: 5%;
	height: 50px;
}

.btn-container {
	height: 25px;
	width:  100%;
	display: flex;
	justify-content: center;
}

.app-container{
	display: flex;
	width: 100%;
	justify-content: center;
}

.btn-randomize {
	height: 25px;
	width: 100px;
}

.btn-savePalette {
	height: 25px;
	width: 150px;
}

.color-container {
	display: flex;
	align-items: flex-end;
	height: 500px;
	width: 1000px;
}


/* App Panels */
.color-panel1 {
	background-color: #262626;
	height: 500px;
	width: 200px;
}
.color-panel2 {
	background-color: #262626;
	height: 500px;
	width: 200px;
}
.color-panel3 {
	background-color: #262626;
	height: 500px;
	width: 200px;
}
.color-panel4 {
	background-color: #262626;
	height: 500px;
	width: 200px;
}
.color-panel5 {
	background-color: #262626;
	height: 500px;
	width: 200px;
}

/* Color Labels */
.color-label1{
	visibility: hidden;	
	position: relative;
	top: 85%;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}
.color-label2{
	visibility: hidden;	
	position: relative;
	top: 85%;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}
.color-label3{
	visibility: hidden;	
	position: relative;
	top: 85%;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}
.color-label4{
	visibility: hidden;	
	position: relative;
	top: 85%;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}
.color-label5{
	visibility: hidden;
	position: relative;
	top: 85%;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}

/* Save Buttons */

.btn1 {
	visibility: hidden;
}
.btn2 {
	visibility: hidden;	
}
.btn3 {
	visibility: hidden;	
}
.btn4 {
	visibility: hidden;	
}
.btn5 {
	visibility: hidden;	
}